/*************************************** General *************************************/

body{
  font-size: 16px;
  background: #e67e22;
}

/*************************************************************************************/







/*************************************** Header *************************************/

.header{
  background: #16a085;
  color: #fff;
  border-bottom: 8px solid #10725f;
}

h1{
  font-size: calc(1rem + 4vw);
  font-family: 'Lobster', cursive;
  background: #10725f;
  padding: 0 20px;
  border-radius: 20px;
}

span{
  font-size: calc(1rem + 8vw);
  margin-right: -1vw;
}

/************************************************************************************/







/************************************ Template Block **********************************/

.template-block{
  padding-top : 6vw;
  padding-bottom: 6vw;
  border-bottom: 8px solid #434343;;
}


.temp{
  position: relative;
  text-align: center;
}

.numb {
  font-family: 'Concert One', cursive;
  background: #16a085;
  border: 3px solid #fff;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  height: 1.6em;
  font-size: calc(1rem + 4vw);
  position: absolute;
  top: -3vw;
  left: -3vw;
  z-index: 1;
}



h2{
  color: #282828;
  font-size: calc(1rem + 3vw);
  font-family: 'Lobster', cursive;
  text-align: center;
  text-decoration: underline;
}


.btn{
  font-size: calc(1rem + 0.5vw);
  font-family: 'Concert One', cursive;
}

.even{
  background: #b8641a;
}

/*************************************************************************************/







/************************************ Browser Mockup **********************************/

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
    

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup > * {
  display: block;
}

.browser-mockup {
  margin: 2em;
  flex: 1;
}

img {
  width: 100%;
  box-shadow: 3px 3px 10px #000000;
}

/*********************************************************************************/
