<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pictoriastic</title>

    <!-- Fonts & Favicon -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <meta name="theme-color" content="#209CEE">
    <!--*******-->

    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet" >
    <!--*********-->

  </head>

  <body>

    <!-- Logo -->
    <div class="container-fluid logo">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-images" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          <path fill-rule="evenodd" d="M4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z"/>
        </svg>
        <h3 class="d-inline">Pictoriastic</h3>
        <div class="subheading">
          <h5>100% Free Images</h5>
        </div>
      </div>
    </div>
    <!-- Logo -->



    <!-- Search & Background Image -->
    <div class="container-fluid bgimg">
      <div class="container bgimgsize">
        <div class="row h-100">
          <div class="col-sm-12 my-auto">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default search" type="submit">
                      <svg width="30px" height="30px" viewBox="0 0 24 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ************************* -->



    <!-- Main -->
    <div class="container">
      <div class="row">

        <!-- Categories -->
        <ul>
          <li><a href="#">Nature</a></li>
          <li><a href="#">People</a></li>
          <li><a href="#">Animals</a></li>
          <li><a href="#">Items</a></li>
          <!-- <li><a href="#">Colors</a></li> -->
          <li><a href="#">Wallpaper</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Vintage</a></li>
          <li><a href="#">Architecture</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Closeup</a></li>
          <li><a href="#">Romance</a></li>
        </ul>
        <!-- ********** -->

        <!-- Gallery -->
        <div class="gal">
          <a href="./assets/img/1.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/1.jpg" alt="Flowers"></a>
          <a href="./assets/img/2.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/2.jpg" alt="Graffiti"></a>
          <a href="./assets/img/3.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/3.jpg" alt="Laptop"></a>
          <a href="./assets/img/4.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/4.jpg" alt="Church"></a>
          <a href="./assets/img/5.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/5.jpg" alt="Nutrition"></a>
          <a href="./assets/img/6.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/6.jpg" alt="Piercing"></a>
          <a href="./assets/img/7.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/7.jpg" alt="Lady"></a>
          <a href="./assets/img/8.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/8.jpg" alt="Building"></a>
          <a href="./assets/img/9.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/9.jpg" alt="Man"></a>
          <a href="./assets/img/10.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/10.jpg" alt="Bird"></a>
          <a href="./assets/img/11.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/11.jpg" alt="Oranges"></a>
          <a href="./assets/img/12.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/12.jpg" alt="Bridge"></a>
          <a href="./assets/img/13.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/13.jpg" alt="Camera"></a>
          <a href="./assets/img/14.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/14.jpg" alt="Forest"></a>
          <a href="./assets/img/15.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/15.jpg" alt="Surfer"></a>
          <a href="./assets/img/16.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/16.jpg" alt="Vegtebales"></a>
          <a href="./assets/img/17.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/17.jpg" alt="Bicycle"></a>
          <a href="./assets/img/18.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/18.jpg" alt="Buildings"></a>
          <a href="./assets/img/19.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/19.jpg" alt="Grass"></a>
          <a href="./assets/img/20.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/20.jpg" alt="Elderly"></a>
          <a href="./assets/img/21.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/21.jpg" alt="Women"></a>
          <a href="./assets/img/22.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/22.jpg" alt="Skyscrapper"></a>
          <a href="./assets/img/23.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/23.jpg" alt="DJ"></a>
          <a href="./assets/img/24.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/24.jpg" alt="Sunset"></a>
          <a href="./assets/img/25.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/25.jpg" alt="Peaches"></a>
          <a href="./assets/img/26.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/26.jpg" alt="Car Interior"></a>
          <a href="./assets/img/27.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/27.jpg" alt="Mirror"></a>
          <a href="./assets/img/28.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/28.jpg" alt="Japanese Building"></a>
          <a href="./assets/img/29.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/29.jpg" alt="Playing"></a>
          <a href="./assets/img/30.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/30.jpg" alt="Flowers"></a>
          <a href="./assets/img/31.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/31.jpg" alt="Clouds"></a>
          <a href="./assets/img/32.jpg"><img class="lazy" src="./assets/img/placeholder.png" data-srcset="./assets/img/32.jpg" alt="Keyborad"></a>
        </div>
        <!-- ****** -->

      </div>
    </div>
    <!-- ***** -->

    <!-- Footer -->
    <div class="container-fluid text-center bg-dark py-3 mt-4">
      <h5>1995-2020 &#169; Pictoriastic</h5>
    </div>
    <!-- ****** -->

    <!-- Javascript -->
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/script.js"></script>
    <!-- ********** -->


  </body>
</html>
